<!DOCTYPE html>
<html>
<style>
  table, th, td {
    border: 5px;
  }
</style>

  <table style="border: 1px solid gray; padding: 5px; display: grid;">
    <tr>
      <th>Book ID: {{book?.itemId}}</th>
    </tr>
    <tr>
      <td>Book Title: {{book?.itemName}}</td>
    </tr>
    <tr>
      <td>Author Name: {{book?.author}}</td>
    </tr>
    <tr>
      <td>Price: {{book?.price}}</td>
    </tr>
    <tr>
      <td>Description: {{book?.description}}</td>
    </tr>
    <!--add functionality to the cart button-->
    <button type="button"
            (click)="handleAddToCart()">add to cart</button>
  </table>


